<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>vue funda</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app" class="container">
    <h1>{{ title }}</h1>
    <h2>Great Musicians</h2>
    <div>
      <label for="full-name">Full name: </label><br>
      <input type="text" id="full-name" v-model="newMusician.fullName"><br>
      <label for="band">Band: </label><br>
      <input type="text" id="band" v-model="newMusician.band"><br>
      <button @click="addMusician" class="btn btn-light">add</button><br><br>

      <div v-for="musician in musicians" :key="musician.id" class="card" class="musician">
        <div class="card-body">
          <h5 class="card-title">{{ musician.fullName }}</h5>
          <p class="card-text">{{ musician.band }}
          </p>
          <p><span @click="like(musician)"><i class="far fa-thumbs-up"></i></span> {{ musician.likes }}</p>
        </div>
      </div>

    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>

<script>
  new Vue({
    el: '#app',
    data: {
      title: 'Musicode',
      musicians: [{
          id: 1,
          fullName: 'Jimi Hendrix',
          band: 'The Jimi Hendrix Experience',
          likes: 0
        },
        {
          id: 2,
          fullName: 'David Gilmour',
          band: 'Pink Floyd',
          likes: 0
        },
        {
          id: 3,
          fullName: 'Jimmy Page',
          band: 'Led Zeppelin',
          likes: 0
        }
      ],
      newMusician: {
        fullName: '',
        band: '',
        likes: 0
      }
    },
    methods: {
      addMusician() {
        this.newMusician.id = Date.now();
        this.musicians = [...this.musicians, this.newMusician];
        this.newMusician = {
          fullName: '',
          band: '',
          likes: 0
        };
      },
      like(musician) {
        musician.likes = musician.likes + 1;
      }
    }
  })
</script>

</html>